.aside .logo a::before {
  border-top: 4px solid #fa5b0f;
  border-left: 4px solid #fa5b0f;
}
.aside .logo a::after {
  border-bottom: 4px solid #fa5b0f;
  border-right: 4px solid #fa5b0f;
}
.contact .contact-info-item .icon .fa,
.contact .contact-info-item .icon .fas,
.blog .blog-item-inner .blog-info .blog-tag a,
.lightbox .lightbox-controls .prev-item .fas,
.lightbox .lightbox-controls .next-item .fas,
.portfolio .portfolio-item .portfolio-info .icon .fa,
.portfolio .portfolio-filter button.active,
.service .service-item .service-item-inner .icon .fa,
.about .about-content .about-text h3 span,
body.dark .aside .nav li a:hover,
body.dark .aside .nav li a.active,
.aside .nav li a:hover,
.aside .nav li a.active {
  color: #fa5b0f;
}

.btn,
.blog .blog-item-inner .blog-img .blog-date,
.service .service-item .service-item-inner:hover .icon,
.about .about-content .timeline .circle-dot,
.about .about-content .timeline .timeline-item::before,
.about .about-content .skills .skill-item .progress .progress-in,
.section-title h2::after,
.section-title h2::before,
.aside .nav-toggle span,
.aside .nav-toggle span::before,
.aside .nav-toggle span::after,
.home .intro .social-link a {
  background-color: #fa5b0f;
}
.portfolio .portfolio-filter button.active {
  border-color: #fa5b0f;
}
